<!DOCTYPE html>
<html>
<head>
    <title>Daftar Akun</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="login-box">
        <h1>DAFTAR AKUN</h1>
        <form method="post">
            <input name="username" placeholder="Username Baru" required>
            <input name="password" type="password" placeholder="Password Baru" required>
            <button type="submit">Daftar Sekarang</button>
        </form>
        <p>Sudah punya akun? <a href="/">Login di sini</a></p>
    </div>
</body>
</html>